html{
    
}
:root{
    --blackish:#202020;
    --darkGrey:#3F3F3F;
    --mediumGrey:#707070;
    --lightGrey:#D8D8D8;

}
body{
    font-family: 'Cabin', sans-serif;
    
 
}
p{
   color: var(--darkGrey);
   
}
 h3, h4{

    color: var(--darkGrey);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
h1{
    color: #AFD275;
    font-size: 24px;
    font-weight: 400;
}

h2{
    color: #4F5A65;
    font-weight: 400;
    border-bottom: solid;
    padding-bottom: 5px;
    border-color: var(--mediumGrey);
    border-width: 1px;
}

li{
   color: var(--darkGrey);
    list-style: none;
}
li a{
    color: var(--darkGrey);
    text-decoration: none;
}
@media only screen and (max-width: 600px) {
    
    li a{
        color: var(--lightGrey);
    }
}

li a:hover{
   color: #AFD275;

}
#head{
    width: 100%;
    height: 80px;
    position:fixed;
    text-align: center;
    z-index: 100;
    background-color: #202020;
    color: #AFD275;
    top:0px;
    left:0px;
    
}
#navbar{
    position:fixed;
    min-width: 290px;
    left: 0px;
    width: 300px;
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
    border-right: solid;
    border-width: 1px;
    border-color: var(--lightGrey);
    padding-top: 0px;
    margin-top: 110px;
}
@media only screen and (max-width: 600px) {
    #navbar{
        position:fixed;
        background-color: #202020;
        min-width: none;
        left: 0px;
        width: 100%;
        height: 300px;
        padding-right: 10px;
        padding-left: 10px;
        border-right: solid;
        border-width: 1px;
        border-color: var(--lightGrey);
        padding-top: 0px;
        margin-top: 70px;
        
    }

    

}
#main-doc {
    position: absolute;
    z-index: -1;
    top:110px;
    left:0px;
    margin-top: 0px;
    margin-left: 300px;
    margin-bottom: 110px;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 200px;;
  }

  @media only screen and (max-width: 600px){
    #main-doc {
        position: absolute;
        z-index: -1;
        top:400px;
        left:0px;
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 110px;
        padding-top: 10px;
        padding-left: 0px;
        padding-right: 0px;;
      }

  }

header h1{
    text-align: center;
}
header ul{
    padding-left: 10px;
    padding-right:10px;
}
header li{
    border-bottom: solid;
    border-width: 1px;
    padding-bottom: 5px;
    padding-top: 10px;
    border-color: var(--lightGrey);
    text-align: center;
}
header li a{
    font-size: large;
}
section li{
    padding-bottom: 10px;
}

code{
    position:relative;

}